<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <!-- Путь до решения для очистки -->
        <add key="solutionPath" value="D:\TestFolder\msk"/>
        <!-- Имя файла со списком папок для удаления -->
        <add key="foldersToDelete" value="FoldersToDelete.txt"/>
        <!-- Имя файла со списком файлов для удаления -->
        <add key="filePostfixesToDelete" value="FilesPostfixesToDelete.txt"/>
        
        <!-- Приложение размещено в корне решения -->
        <add key="appInSolutionForClean" value="false"/>
    </appSettings>
</configuration>